body {
	margin:0;
	padding:0;
	font-family: Helvetica, Arial, sans-serif;
}

figure {
	background-color: black;
	position:relative;
	float:left;
	width: 200px;
	height:200px;
	margin:5px;
	border: thin solid black;
}

figcaption {
	position:absolute;
	background-color: rgba(255,255,255,0.7);
	bottom: 0;
	width:100%;
}

button {
	position: absolute;
	right:0;
}

img.thumb {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
	max-width: 100%;
	max-height: 100%;
}

#upload {
	background-image: url("plus.png");
	background-repeat:  no-repeat;
	background-position: center;
	position:relative;
	float:left;
	width: 200px;
	height:200px;
	margin:5px;
	border: thin solid black;
}

#resultview {
	position:absolute;
	left:0px;
	right:401px;
	border: thin solid black;
	/* Scroll resultview
	height:90%;
	overflow-y: scroll; */
}

#filter {
	position: fixed; /* vs. absolute */
	right:0px;
	width:400px;
	border: thin solid black;
}

#tagcloud{

	line-height: 20pt;
}

.tag{
	float: left;
	margin: 2px;
	background-color: #e4e4e4;
	border-radius:3px;
	padding: 3px;
}

.small{
	font-size: 12pt;
}

.medium{
	font-size: 14pt;
}

.large{
	font-size: 20pt;
}

#querybox{
	min-height:30px;
	width:100%;
	position:relative;
	border: thin solid black;
}

