body {
	margin:0;
	padding:0;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

h2{
	color:#555;
	font-size: 20pt;
	font-weight: lighter;
}

#resultview figure {
	background-color: black;
	position:relative;
	float:left;
	width: 200px;
	height:200px;
	margin:5px;
	border: thin solid #e4e4e4;
}


figcaption {
	position:absolute;
	background-color: rgba(255,255,255,0.7);
	bottom: 0;
	width:100%;
}

#lhsview{
	position:absolute;
	left:0px;
	right:401px;
	/*border: thin solid black;*/

	padding-bottom: 20px;
	float:left;

}

.largeview{
	margin-left:auto;
	margin-right:auto;
	display: block;
	vertical-align:middle;
	max-height: 85%;
	max-width: 100%;
}



#lhsview button{
	position:relative;
}

#controls{
	max-width: 155px;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
}

button {
	position: absolute;
	right:0;
	border-style: none;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size:10pt;
}

footer#result button {

	width:80px;
}

button#select {
	right:100px;
}

button#deselect {
	right:10px;
}

img.thumb {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
	max-width: 100%;
	max-height: 100%;
}

#resultview figure button,
#resultview figcaption{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}


#resultview figure:hover button,
#resultview figure:hover figcaption{
	opacity: 1;
   	transition: opacity .25s ease-in-out;
}

#resultview figure.marked {
	border: 5px solid #c05665;
	margin:1px;
}

#upload {
	background-image: url("icons/plus.png");
	background-repeat:  no-repeat;
	background-position: center;
	position:relative;
	float:left;
	width: 200px;
	height:200px;
	margin:5px;
	border: thin solid #e4e4e4;
}

/*#resultview {
	position:absolute;
	left:0px;
	right:401px;
	border: thin solid black;

	padding-bottom: 20px;
}*/

footer#result {
	position: fixed;
	bottom: 0px;
	height: 20px;
	right:401px;
	left:0;
	background-color: rgba(204,204,204,0.75);
}

section#filter {
	position: fixed; /* vs. absolute */
	right:0px;
	width:400px;
	font-weight: lighter;
	/*border: thin solid black;*/
}

footer#filter {
	position: fixed;
	bottom: 0px;
	height: 20px;
	right:0px;
	width:400px;
	background-color: rgba(204,204,204,0.75);
}

#tagcloud{
	float:left;
	line-height: 22pt;
	background-color: #ffffff;
}

#tagcloud button{
	display: none;
}

#querybox button{
	display: inline;

}

.tag button{
	position: relative;
}

.tag{
	border: thin solid black;
	float: left;
	margin: 2px;
	background-color: #fafafa;
	border-radius:15px;
	padding: 3px;
	cursor: pointer;
	color:#555;
}

.tag:hover{
	color:black;
}

#tabs{
	float: left;
	width: 100%;
}

.tab{
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12pt;
	text-align: center;
	height: 35px;
	width: 15%;
	margin-left: 2px;

	border-radius: 0 0 10px 10px;
	border: 1px solid #a6a6a6;
	border-top-width: 0px;

	background-color:#ffffff;
	float: left;
	position: relative;
	opacity: 0.7;
}

.active,
.active:hover{
	opacity: 1.0;
}

.tab:hover{
	opacity: 0.5;
}

#edit,
#cancel,
#save{
	position: relative;

	float:left;
}

.small{
	font-size: 12pt;
}

.medium{
	font-size: 14pt;
}

.large{
	font-size: 20pt;
}

.where{
	border-color: #6ece55;
	/*#e0f1cb;*/
}

.when{
	border-color: #d8b35a;
}

.what{
	border-color: #c13c3c;
}

.who{
	border-color: #5c48d8;

}

.other{
	border-color: #e4e4e4;
}

.hidden{
	display:none;
}

#querybox,
#tagselection{
	float:left;
	min-height:30px;
	width:100%;
	position:relative;
	border: thin solid #e4e4e4;
}

