body {
	margin:0;
	padding:0;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

a {
	text-decoration: none;
	color:black;
	padding: 0 0.2em;
	margin: 0 0.2em;
}

a:hover {
	background-color: #666666;
	border-radius:5px;
	color:white;
}

h2{
	color:#555;
	font-size: 20pt;
	font-weight: 200;
	margin: 0 0 10px 0;
}

#resultview figure {
	background-color: black;
	position:relative;
	float:left;
	width: 200px;
	height:200px;
	margin:5px;
	border: thin solid #e4e4e4;
}


figcaption {
	position:absolute;
	background-color: rgba(255,255,255,0.7);
	bottom: 0;
	width:100%;
}

#lhsview{
	position:absolute;
	left:0px;
	right:401px;
	/*border: thin solid black;*/

	padding-bottom: 20px;
	float:left;

}

.largeview{
	margin-left:auto;
	margin-right:auto;
	display: block;
	vertical-align:middle;
	max-height: 85%;
	max-width: 100%;
}



#lhsview button{
	position:relative;
}

#controls{
	max-width: 165px;
	margin-top: 20px;
	margin-left:auto;
	margin-right:auto;
}

button {
	position: absolute;
	right:0;
	border-style: none;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size:10pt;
}

button.function{
	background-color: #666666;
	color: #ffffff;
	font-weight: 200;
	text-transform: uppercase;
	font-size: 12pt;
}


button:hover{
	background-color: #aaaaaa;
}

footer#result button {

	width:80px;
}

button#select {
	right:100px;
}

button#deselect {
	right:10px;
}

img.thumb {
	position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    margin:auto;
	max-width: 100%;
	max-height: 100%;
}

#resultview figure button,
#resultview figcaption{
	opacity: 0;
	transition: opacity .25s ease-in-out;
}


#resultview figure:hover button,
#resultview figure:hover figcaption{
	opacity: 1;
   	transition: opacity .25s ease-in-out;
}

#resultview figure.marked {
	border: 5px solid #c05665;
	margin:1px;
}

#upload {
	background-image: url("icons/plus.png");
	background-repeat:  no-repeat;
	background-position: center;
	position:relative;
	float:left;
	width: 200px;
	height:200px;
	margin:5px;
	border: thin solid #e4e4e4;
}

/*#resultview {
	position:absolute;
	left:0px;
	right:401px;
	border: thin solid black;

	padding-bottom: 20px;
}*/

footer#result {
	position: fixed;
	bottom: 0px;
	height: 20px;
	right:401px;
	left:0;
	background-color: rgba(204,204,204,0.75);
}

section#filter {
	position: fixed; /* vs. absolute */
	right:0px;
	width:400px;
	font-weight: lighter;
	/*border: thin solid black;*/
}

footer#filter {
	position: fixed;
	bottom: 0px;
	height: 20px;
	right:0px;
	width:400px;
	background-color: rgba(204,204,204,0.75);
}

#tagcloud{
	float:left;
	line-height: 22pt;
	background-color: #ffffff;
	border-radius: 10px 10px 10px 0px;
	/*min-height: 390px;*/
	width:96%;
	border: thin solid #e4e4e4;
	z-index: -1;
	padding:10px 5px 20px 5px;
}

#tagcloud button{
	display: none;

}

#querybox button{
	display: inline;

}

.tag button{
	position: relative;
}

#searchfield{
	padding: 5px;
	min-width: 20px;
	text-align: center;
	max-height:20px;
	outline: 0 solid transparent;
}

.tag{
	border: thin solid black;
	float: left;
	margin: 2px;
	background-color: #fafafa;
	border-radius:15px;
	padding: 3px;
	cursor: pointer;
	color:#555;
}

.tag > span{
	margin: 0 0.2em 0 0.2em;
}

.tag:hover{
	color:black;
}

#tabs{

	float: left;
	width: 100%;
}

.tab{
	z-index: 99;
	margin-top: -1px;
	font-family: "Helvetica Neue", Arial, sans-serif;
	font-size: 12pt;
	text-align: center;
	height: 35px;
	width: 15%;
	margin-right: 2px;
	margin-bottom:10px;

	border-radius: 0 0 10px 10px;
	border: 1px solid #e4e4e4;
	background-color:#ffffff;
	float: left;
	position: relative;
	opacity: 0.7;
}

.active{
	border-top-color: #ffffff !IMPORTANT;
	opacity: 1.0;
}

.tab:hover{
	background-color:#ffffff;
	opacity: 0.5;
}

.droptarget{
	height: 70px;
	transition: height .5s ease-in-out;
}

.drophover{
	background-color: #dfdfdf;
}

.active:hover{
	opacity: 1.0;
}

#filtercontrol{
	margin:0 auto;
	width:133px;


}

#edit,
#cancel,
#save{
	float:left;
	position: relative;
	display: block;
	min-width: 20px;
}

.small{
	display:inline-block;
	font-size: 12pt;
}

.medium{
	display:inline-block;
	font-size: 14pt;
}

.large{
	display:inline-block;
	font-size: 20pt;
}

.where{
	border-color: #6ece55;
	/*#e0f1cb;*/
}

.when{
	border-color: #d8b35a;
}

.what{
	border-color: #c13c3c;
}

.who{
	border-color: #5c48d8;

}

.other{
	border-color: #e4e4e4;
}

.hidden{
	display:none;
}

.x{
	font-weight: bold;
	color: white;
	width:20px;
	border-radius: 10px;
	margin: 0 0 0 0.4em;
}


#querybox,
#tagselection{
	float:left;
	margin-bottom: 5px;
	min-height:30px;
	width:96%;
	padding: 5px;
	position:relative;
	background-color: #f4f4f4;
	border-radius: 10px;
	/*border: thin solid #e4e4e4;*/
}

